[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "themes/Agnes"]
	path = themes/Agnes
	url = https://github.com/dchucks/agnes-hugo-theme.git
